* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button  {
  border: none;
  outline: none;
}

body {
  background-color: rgb(181, 183, 186);
  font-family: sans-serif;
}

.App {
  margin: 30px auto;
  max-width: 1000px;
  border-radius: 4px;
  background-color: rgb(240, 241, 242);
  padding: 20px;
}

.start-page h2 {
  color: rgb(84, 84, 109);
}

.start-page .btn-start {
  width: 130px;
  height: 50px;
  background-color: rgb(208, 192, 223);
  border-radius: 2px;
  font-size: 19px;
  color: rgb(53, 70, 65);
}

.question {
}

.variants-block {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(103, 109, 114);
  border-radius: 3px;
  padding: 10px;
}

.variants-block .variant {
  display: flex;
  gap: 30px;
  background-color: rgb(182, 246, 225);
  padding: 10px;
  border-radius: 2px;
  color: rgb(134, 101, 101);
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 23px;
  background-color: rgb(35, 35, 35);
  color: #e0e0e0;
  border-radius: 3px;
  font-size: 18px;
}